<div id="<%= dom_id list %>">
  <p>
    <strong>Board:</strong>
    <%= list.board_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= list.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= list.position %>
  </p>

  <p>
    <strong>Wip limit:</strong>
    <%= list.wip_limit %>
  </p>

</div>
